@font-face { 
    font-family: "Roboto Condensed";
    src: url(..\fonts\Roboto_Condensed\RobotoCondensed-Bold.ttf) format("truetype"),
    url(..\fonts\Roboto_Condensed\RobotoCondensed-BoldItalic.ttf) format("truetype"), 
    url(..\fonts\Roboto_Condensed\RobotoCondensed-Italic.ttf) format("truetype"), 
    url(..\fonts\Roboto_Condensed\RobotoCondensed-Light.ttf) format("truetype"), 
    url(..\fonts\Roboto_Condensed\RobotoCondensed-LightItalic.ttf) format("truetype"), 
    url(..\fonts\Roboto_Condensed\RobotoCondensed-Regular.ttf) format("truetype"), 
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@font-face { 
    font-family: "Roboto";
    src: url(..\fonts\Roboto\Roboto-Bold.ttf) format("truetype"),
    url(..\fonts\Roboto\Roboto-BoldItalic.ttf) format("truetype"), 
    url(..\fonts\Roboto\Roboto-Black.ttf) format("truetype"), 
    url(..\fonts\Roboto\Roboto-BlackItalic.ttf) format("truetype"), 
    url(..\fonts\Roboto\Roboto-Italic.ttf) format("truetype"), 
    url(..\fonts\Roboto\Roboto-Light.ttf) format("truetype"), 
    url(..\fonts\Roboto\Roboto-LightItalic.ttf) format("truetype"), 
    url(..\fonts\Roboto\Roboto-Regular.ttf) format("truetype"), 
    url(..\fonts\Roboto\Roboto-Medium.ttf) format("truetype"), 
    url(..\fonts\Roboto\Roboto-MediumItalic.ttf) format("truetype"), 
    url(..\fonts\Roboto\Roboto-Thin.ttf) format("truetype"), 
    url(..\fonts\Roboto\Roboto-ThinItalic.ttf) format("truetype"), 
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
