@media (min-width: 1600px) {
    html, body {
        font-size: 14px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px)  {
    html, body {
        font-size: 16px;
    }
}

@media (max-width: 1199px) {
    html, body {
        font-size: 20px;
    }
    
    .wrapper {
        grid-template-columns: 0.5fr 3fr 0.5fr;
        grid-row: 1fr 1fr 1fr;
        
        .header {
            justify-items: center;
            align-items: center;

            &-logo {
                grid-column: 1/4;
                grid-row: 1/2;            
            }

            &-contacts {
                grid-column: 1/4;
                grid-row: 2/3; 
                padding: 1em;
            }

            &-nav {
                grid-column: 1/4;
                grid-row: 3/4; 
                padding: 1em;
            }
        }

        .second-block {
            grid-template-columns: 1fr 1fr;

            &__button {
              //  margin-left: 0em;
            }

            &__imgblock {
                height: 22em;
                width: 22em;

                &__img {
                    height: 25.25em;
                    margin-left: -14.75em;
                }
            }
        }

        .section-advantage {
            font-size: 18px;
        }
    }
}

@media (max-width: 809px) {
    html, body {
        font-size: 14px;
    }

    .wrapper {
        grid-template-columns: 0fr 1fr 0fr;

        .header {
            font-size: 1.5em;
        }

        .second-block {
            &__text {
                font-size: 2em;
            }

            &__button {
                margin-top: 2em !important;
                margin-left: 0;
                font-size: 1em;
            }

            &__imgblock {
                font-size: 0.8em;
            }

            &__circle {
                font-size: 0.8em;
            }
        }

        .section-best {
            font-size: 1.5em;
        }

        .section-comments {
            font-size: 1.5em;
        }

        .section-faq {
            font-size: 1.5em;
        }
    }    
}

@media (max-width: 499px) {
    html, body {
    }

    .wrapper {

        .second-block {

            &__button {
                font-size: 0.9em;
            }
        }

        
    }    
}