@media (min-width: 1600px) {
    html, body {
        font-size: 14px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px)  {
    html, body {
        font-size: 16px;
    }
}

@media (max-width: 1199px) {
    html, body {
        font-size: 20px;
    }
    
    .wrapper {
        grid-template-columns: 0.5fr 3fr 0.5fr;
        grid-row: 1fr 1fr 1fr;
        
        .header {
            justify-items: center;
            align-items: center;
            height: 10rem;

            &-logo {
                grid-column: 1/4;
                grid-row: 1/2;            
            }

            &-contacts {
                grid-column: 1/4;
                grid-row: 2/3; 
                padding: 1em;
            }

            &-nav {
                grid-column: 1/4;
                grid-row: 3/4; 
                padding: 1em;
            }
        }

        .second-block {
            grid-template-columns: 1fr 1fr;

            &__button {
              //  margin-left: 0em;
            }

            &__imgblock {
                height: 22em;
                width: 22em;

                &__img {
                    height: 25.25em;
                    margin-left: -14.75em;
                }
            }
        }

        .section-advantage {
            font-size: 18px;
        }
    }
}