


$header_color: rgba(245, 246, 250,1.0);
$main_color: #0087fb;
$text_color: $main_color/3;
$text_green: #38ad26;
$main_font_c: "Roboto Condensed";
$main_font: "Roboto";
$shadow: 0px 0px 20px rgba(0,0,0,0.1);

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    font-family: $main_font, sans-serif;
    font-size: 16px;
}

.wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    //grid-template-areas: "header header header" 
     //                    ". second-block .";
    align-items: center;
    grid-column-gap: 15px;

    .header {
        width: 100%;
        background: $header_color;
        height: 5.6rem;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-row: 1fr;
        //grid-template-areas: "header-logo header-nav header-contacts";
        grid-area: header;
        align-items: center;
        justify-self: center;
        grid-column-gap: 15px;
        grid-column: 1/4;
        grid-row: 1/2;

        &-logo {
            display: block;
            //grid-area: header-logo;
            grid-column: 1/2;
            grid-row: 1/2;

            >img {
                height: 3.75rem;
            }
        }

        &-nav {
            grid-area: header-nav;
            justify-self: center;
            grid-column: 2/3;
            grid-row: 1/2;

            &__link {
                margin: 0 0.6em;
                text-decoration: none;
                font-family: $main_font, sans-serif;
                font-size: 1rem;
                font-weight: 400;
                color: $text_color;
                position: relative;
                z-index: 2;

                &:before {
                    content: '';
                    background: lighten($main-color, 30%);
                    position: absolute;
                    width: 0;
                    height: 0.3em;
                    z-index: -1;
                    bottom: 0.25em;
                    left: 0;
                    transition: ease-in all 0.2s;
                }

                &:hover {
                    &:before {
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }

        &-contacts {
            grid-area: header-contacts;
            grid-column: 3/4;
            grid-row: 1/2;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            padding: 0 0.9rem;
            width: 18.75rem;

            &__link {
                text-decoration: none;
                font-size: 0.9rem;
                font-family: $main_font, sans-serif;
                font-weight: 500;
                margin: 0 2%;
                color: $text_green;

                &:last-child {
                    border-bottom: 1px solid;
                }

                &:hover {
                    color: $text_green/2;
                    transition: ease-in all 0.2s;
                }
            }
        }
    }

    .callback {
        width: 23em;
        //height: 30em;
        background: lighten($main_color, 47%);
        position: fixed;
        opacity: 0;
        transition: ease-in-out opacity 0.3s;
        top: 20%;
        z-index: 3;
        left: 37%;
        border-radius: 8px;
        box-shadow: 0px 0px 5em $main_color;
        padding: 1em;
        text-align: center;
        display: none;
        //outline: 100em solid rgba(0,0,0,0.5);
        //width: 100%;
        //height: 100%;

        &__h4 {
            font-size: 1.9em;
            margin: 0.5em 0 0.9em 0;
        }

        &__label {
            &__title {
                display: block;
                text-align: left;
                margin-left: 0.7em;
                margin-bottom: 0.3em;
                font-weight: 500;
                font-size: 0.9em;
            }

            &__input {
                border-radius: 8px;
                border: 2px solid lighten($main_color, 40%);
                transition: ease-in-out all 0.3s;
                padding: 0.4em;
                width: 22em;
                margin-bottom: 1em;
                padding: 0.6em;
                outline: none;
                font-size: 0.9em;
            }            
        }

        &__submit {
            margin-top: 20px;
            margin-bottom: 30px;
            width: 100%;
            background: lighten($main_color, 30%);
            padding: 15px;
            border: 0;
            font-size: 20px;
            font-weight: 900;
            border-radius: 30px;
            transition: ease-in-out all 0.3s;

            &:hover {
                background: $main_color;
                color: lighten($main_color, 50%);
            }
        }
    }

    .second-block {
        grid-area: second-block;
        display: grid;
        width: 100%;
        position: relative;
        padding: 1.87em 0.6em;
        align-items: center;
        grid-template-columns: 1.5fr 1fr;
        //grid-template-areas: "second-block__img second-block__text"
        //                     "second-block__img second-block__button";
        grid-column: 2/3;
        grid-row: 2/3;

        &__imgblock {
            height: 28.125em;
            width: 28.125em;
            box-shadow: -5px 0px 10px rgba(0,0,0,0.1);
            grid-area: second-block__img;  
            grid-column-gap: 15px;
            border-radius: 50%;
            overflow: hidden;
            justify-self: end;
            grid-column: 1/2;
            grid-row: 1/3;

            &__img {
                height: 31.25em;
                margin-left: -18.75em;
            }
        }

        &__circle {
            position: absolute;
            border-radius: 50%;
            background: lighten($main-color, 20%);
            z-index: -1;
            box-shadow: -5px 0px 10px rgba(0,0,0,0.1);
            

            &-1 {
                width: 400px;
                height: 400px;
                top: -50px;
                left: -16%;
            }

            &-2 {
                width: 100px;
                height: 100px;
                bottom: 210px;
                right: 2%;
            }
        }

        &__text {
            grid-area: second-block__text;
            font-size: 40px;
            font-weight: 900;
            font-family: $main_font, sans-serif;
            justify-self: start;
            height: 50px;
            margin-top: 2em;
            margin-left: 1em;
            grid-column: 2/3;
            grid-row: 1/2;

            &-second {
                font-weight: 100;
            }
        }

        &__button {
            grid-area: second-block__button;
            text-decoration: none;
            font-family: $main-font;
            font-weight: 500;
            margin-left: 1.25em;
            display: block;
            background: $main-color;
            width: 12.5em;
            font-size: 1em;
            text-align: center;
            padding: 0.9em;
            height: 3.1em;
            border-radius: 2.5em;
            color: $header_color;
            box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
            transition: ease-in all 0.4s;
            position: relative;
            grid-column: 2/3;
            grid-row: 2/3;

            &-arrow {
                position: absolute;
                bottom: 1.1em;
                right: 1.25em;
                opacity: 0;
                transition: ease-in all 0.6s;
            }

            &:hover {
                box-shadow: none;
                background: $main-color/1.1;
                width: 13.43em;
                padding-right: 1.5em;

                .second-block__button-arrow {
                    opacity: 1;
                }
            }
        }
    }

    .gallery {
        grid-column: 2/3;
        grid-row: 5/6;

        &__img {
            width: 16em;
            border-radius: 8px;
            box-shadow: $shadow;
            border: 2px solid lighten($main_color, 30%);
            transition: ease-in-out 0.3s all;
            margin: 2px;

            &:hover {
                box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
                border: 2px solid #fff;
                cursor: pointer;
            }
        }
    }

    .h2 {
        font-size: 1.8rem;//30px
        position: relative;
        line-height: 1em;
        display: block;
        text-align: center;
        padding-bottom: 1.66em;
        margin: 0 auto;

        /*&:after {
            content:'';
            height: 10px;
            width: 50px;
            top: 10px;
            left: 60px;
            position: absolute;
            background: $main_color;
            opacity: 0.3;
        }

        &:before {
            content:'';
            height: 10px;
            width: 50px;
            top: 10px;
            right: -70px;
            position: absolute;
            background: $main_color;
            opacity: 0.3;
        }*/
    }

    .h3 {
        text-align: center;
        width: 100%;
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 2em;
        background: $main_color;
        color: #fff;
        line-height: 2em;
        box-shadow: $shadow;
    }

    .section-advantage {
        grid-column: 2/3;
        grid-row: 3/4;
        margin-top: 50px;
              
        &__items {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            justify-content: center;
            
            &__item {
                width: 15.7em;
                padding: 0.9em;

                &__icon {
                    font-size: 2em;
                    margin: 0 auto;
                    display: block;  
                    color: $main_color;                  
                }

                &__h4 {
                    font-size: 1.125em;
                    font-weight: 500;
                    text-align: center;
                }

                &__p {
                    font-weight: 300;
                    font-size: 0.9em;
                    line-height: 1.46em;
                }
            }
        }
    }

    .section-catalog {
        margin-top: 0 !important;
    }

    .section-best, .section-catalog {
        grid-column: 2/3;
        grid-row: 4/5;
        margin-top: 3.12em;

        &__h2 {
            &:after {
                left: 5.62em;        
            }

            &:before {
                right: 5.62em;        
            }
        }

        &__items {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            justify-content: center;

            &__item {
                width: 15.62em;
                padding: 0.9em;
                border: 1px solid lighten($main_color, 45%);
                border-radius: 0.2em;
                //box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                margin: 0.28em;
                transition: ease-in-out all 0.4s;

                &:hover {
                    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                }

                &__img {
                    width: 13.62em;
                    border-radius: 8px;
                    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
                }

                &__name {
                    display: inline-block;
                    font-size: 1.25em;
                    padding: 0.2em 3.5em 0.5em 0.4em;
                    font-weight: 600;
                }

                &__desc {
                    display: inline-block;
                    font-size: 0.87em;
                    padding: 0px 4.28em 0px 0.57em;
                    font-weight: 300;  
                    line-height: 1.5em;                  
                }

                &__price {
                    display: inline-block;
                    font-size: 1em;
                    font-weight: 600;
                    background: lighten($main_color, 40%);
                    padding: 0px 0.9em;
                    line-height: 1.8em; 
                    border-radius: 0.5em;  
                }

                &__button {
                    text-decoration: none;
                    color: $text-color;
                    position: relative;
                    margin: 0.5em 0.6em;
                    padding: 0.3em 0;
                    display: block;                
                    text-align: center;
                    transition: ease-in-out all 0.2s;                   
                    border: 2px solid lighten($main_color, 40%);
                    border-radius: 0.5em;

                    &:hover {
                        color: #fff;
                        border: 2px solid $main_color;
                        background: $main_color;

                       /* &:before {
                            background: $main_color;
                            height: 33px;                            
                        }*/
                    }

                    &:before {
                        content: '';
                        border-radius: 0.5em;
                        height: 0px;
                        background: lighten($main_color, 35%);;
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 100%;     
                        transition: ease-in-out all 0.3s; 
                        z-index: -1;      
                    }
                }
            }
        }
    }

    .section-comments {
        grid-column: 2/3;
        grid-row: 5/6;
        margin-top: 50px;

        &__h2 {
            &:after {
                left: 120px;        
            }

            &:before {
                right: 120px;        
            }
        }

        &__items {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            justify-content: center;

            &__item {
                width: 230px;
                padding: 10px;

                &__img {
                    width: 180px;
                    border-radius: 50%;
                    box-shadow: $shadow;
                    display: block;
                    margin: 0 auto;
                }

                &__name {
                    display: block;
                    font-size: 18px;
                    font-weight: 600;
                    padding: 10px 0;
                    text-align: center;
                }

                &__p {
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
    }

    .section-faq {
        grid-column: 2/3;
        grid-row: 6/7;
        margin-top: 50px;

        &__h2 {
            &:after {
                left: 120px;        
            }

            &:before {
                right: 120px;        
            }
        }

        &__items {
            &__item {
                &__list {
                    background: $main-color;
                    padding: 15px 20px;
                    border-radius: 32px;
                    color: #fff;
                    display: block;
                    margin-top: 20px;

                    &:hover {
                        box-shadow: $shadow;
                        cursor: pointer;
                    }

                    &__arrow {
                        float: right;
                        margin-right: 5px;
                        //transform: rotate(180deg);
                    }
                }

                &__text {
                    padding: 0 20px;
                    font-size: 16px;
                    line-height: 25px;
                    display: none;
                    transition: ease-in-out all 0.5s;
                }
            }
        }
    }

    .section-application {
        grid-column: 2/3;
        grid-row: 7/8;
        margin-top: 50px; 
        display: flex;
        justify-content: center;
        
        &__app {
            width: 430px;
            border-radius: 8px;
            //border: 1px solid #000;
            padding: 15px;
            box-shadow: $shadow;
            
            &__h4 {
                text-align: center;
                font-size: 35px;
                font-weight: 700;
                margin: 20px 0;
                line-height: 45px;
            }

            &__span {
                font-weight: 300;
                font-size: 14px;
                text-align: center;
                display: block;    
                margin-bottom: 30px;            
            }

            &__label {
                
                &__title {
                    font-size: 14px;
                    font-weight: 500;
                    display: block;
                    padding-bottom: 7px;
                    margin-left: 10px;
                }

                &__input {
                    width: 380px;
                    font-size: 14px;
                    font-weight: 300;
                    margin-left: 10px;
                    margin-bottom: 20px;
                    padding: 8px 10px;
                    border-radius: 8px;
                    border: 2px solid lighten($main_color, 40%);
                    transition: ease-in-out all 0.3s;

                    &:focus {
                        border: 2px solid $main_color;
                        outline: none;
                        box-shadow: $shadow;
                    }
                }
            }

            &__submit {
                margin-top: 20px;
                margin-bottom: 30px;
                width: 100%;
                background: lighten($main_color, 30%);
                padding: 15px;
                border: 0;
                font-size: 20px;
                font-weight: 900;
                border-radius: 30px;
                transition: ease-in-out all 0.3s;

                &:hover {
                    background: $main_color;
                    color: lighten($main_color, 50%);
                }
            }
        }
    }

    .footer {
        grid-column: 1/4;
        grid-row: 8/9;
        margin-top: 50px; 
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        //grid-template-areas: "header-logo header-nav header-contacts";
        align-items: center;
        grid-column-gap: 15px;
        background: $header_color;

        &__copy {
            grid-column: 1/2;
            grid-row: 1/2;
            padding: 15px 20px;
            font-weight: 300;
            font-size: 14px;
        }
        

        &-social {
            grid-column: 2/3;
            grid-row: 1/2;
            justify-self: center;

            &__icon {
                font-size: 25px;
                margin: 0 6px;
                color: lighten($main_color, 30%);
                transition: ease-in-out all 0.3s;

                &:hover {
                    color: $main_color;
                }
            }
        }
    }
}  

@import 'media';
@import 'fonts';
